pandas>=0.24.2
scikit-learn>=0.21.2
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
numpy>=1.18.4
protobuf==3.11.3
scipy>=1.4.1
tensorboard==2.1.0
tensorflow==2.1.0
tensorflow-datasets==2.1.0
tensorflow-estimator==2.1.0
tensorflow-hub==0.7.0
tensorflow-metadata==0.21.1
